// @Author: tangjingxin <tangduck>
// @Date:   04/05/2017
// @Email:  jxintang@gmail.com
// @Last modified by:   tangduck
// @Last modified time: 04/05/2017

.creditor-results {
    .search-box {
        padding: 12px 15px;
        text-align: center;
        background-color: #fff;
        .search-head {
            padding-bottom: 10px;
            border-bottom: 1px solid #dedede;
            .area-list {
                width: 200px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .search-foot {
            padding: 10px 0;
            text-align: center;
            font-size: 14px;
            color: #4F4F4F;
            .search-btn {
                font-size: 12px;
                border-radius: 1px;
                border: 1px solid #AD2323;
                color: #AD2323;
                padding: 6px 26px;
                background-color: #fff;
            }
        }
    }
}
